# Dependency Directories
node_modules/
jspm_packages/

# Yarn
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Yarn Integrity
.yarn-integrity

# Env
.env

# Build
build/
out/
dist/
typings/
